<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/docs.css') }}">
    <title>Documentations</title>
</head>
<body>
    <div class="main">
        <div>
            <h1><mark>1 - /api/img</mark></h1>
            <h2>METHOD:<span style="color: black">&nbsp;GET</span></h2>
            <h2>RETURN TYPE:<span style="color: black">&nbsp;JSON</span></h2>
            <h2>CONTENT<span style="color: black">&nbsp;A captcha URL and it's solution</span></h2>
            <h2>NOTES<span style="color: black">&nbsp;N/A</span></h2>
        </div>

        <br>

        <div>
            <h1><mark>2 - /api/cdn</mark></h1>
            <h2>METHOD:<span style="color: black">&nbsp;GET</span></h2>
            <h2>RETURN TYPE:<span style="color: black">&nbsp;PIL IMAGE</span></h2>
            <h2>CONTENT<span style="color: black">&nbsp;A image. Handling it depends on your use, one way to handle it, <a href="https://codegrepper.com/code-examples/python/how+to+convert+image+file+to+url+image+in+python">example (python)</a></span></h2>
            <h2>NOTES<span style="color: black">&nbsp;N/A</span></h2>
        </div>
    </div>
</body>
</html>
